.container {
    height: 100vh;
    max-width: 500px;
    margin: auto;
}

.header {
    min-height: 50px;
    border-bottom: 1px solid #d3d6da;
}

.header .title {
    letter-spacing: 0.2rem;
}

.grid {
    flex-grow: 1;
}
