.letter {
    width: 62px;
    height: 62px;
    box-sizing: border-box;
    color: white;
}

.letter.absent {
    background-color: #787c7e;
}

.letter.present {
    background-color: #c9b458;
}

.letter.correct {
    background-color: #6aaa64;
}

.letter.unknown {
    color: black;
    background-color: white;
    border: 2px solid #d3d6da;
}

.letter.unknown:not(.empty) {
    border: 2px solid #878a8c;
}
