.key {
    background-color: #d3d6da;
    border-radius: 4px;
    height: 3.3125rem;
    min-width: 2.625rem;
    cursor: pointer;
}

.key:not(:last-child) {
    margin-right: 0.50rem;
}

.key.absent {
    background-color: #787c7e;
    color: white;
}

.key.present {
    background-color: #c9b458;
    color: white;
}

.key.correct {
    background-color: #6aaa64;
    color: white;
}
