html {
  font-size: 16px;
}

html, body, #root {
  min-height: 100%;
  height: 100%
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Widths */
.w-100 {
  width: 100%
}

.w-33 {
  width: 33%
}

/* Pointer */
.pen {
  pointer-events: none;
}

.usn {
  user-select: none;
}